[Unit]
Description=hydration reminder
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/drink-water-reminder
Restart=always
RestartSec=1

[Install]
WantedBy=default.target